@import "tailwindcss";

.background {
    @apply relative w-full h-screen bg-black overflow-hidden z-0 flex justify-center;
}

.starsContainer {
    @apply absolute inset-0 z-8 pointer-events-none;
}

.star {
    @apply absolute bg-white rounded-full opacity-70 w-[3px] h-[3px] animate-[twinkle_infinite];
}


.star::before,
.star::after {
    content: '';
    @apply absolute bg-white opacity-70;
}

.star::before {
    @apply w-[4px] h-[2px] top-1/2 left-0;
    transform: translateY(-50%) translateX(-12.5%);
}

.star::after {
    @apply w-[2px] h-[4px] top-0 left-1/2;
    transform: translateX(-50%) translateY(-12.5%);
}


@keyframes twinkle {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.3;
    }
}

/* .content {
    @apply relative z-5 text-white text-center flex items-center justify-center h-full;
} */

.textContainer {
    @apply space-y-4;
}

.title {
    @apply text-4xl font-bold;
}

.subtitle {
    @apply text-lg opacity-80;
}


.cityContainer {
    @apply absolute bottom-0 w-4/5 overflow-hidden z-10 left-0 pointer-events-none;
}

.cityBottom {
    @apply block w-full h-auto filter invert-10 sepia saturate-100 hue-rotate-180;
    transform: translateY(20%);
}

.topStarsContainer {
    @apply absolute top-0 w-full flex justify-between items-center px-8 z-10 h-[100px];
}

.topStar {
    @apply w-8 h-8;
    filter: brightness(2) hue-rotate(-40deg);
    transition: transform 0.3s ease-in, box-shadow 1s ease-out;
    transform: rotate(var(--initial-star-rotation, 0deg));
}

.topStarHover {
    transform: rotate(calc(var(--initial-star-rotation, 0deg) + var(--hover-added-rotation, 0deg)));
}

/* .bigStarContainer {
    @apply relative z-2 w-1/2 h-auto left-0 pointer-events-auto;
} */

.bigStar {
    @apply w-full h-auto;
    /* transform: translateX(-30%) translateY(10%); */
    filter: brightness(0.8) drop-shadow(0 0 20px rgba(100, 100, 100, 0.5));
    transition: filter 0.5s ease-in, box-shadow 0.1s ease-out;
}

.bigStarHover {
    filter: brightness(1) drop-shadow(0 0 10px rgba(243, 243, 241, 0.8));
    /* ¸ßÁÁ±ßÔµ */
}

.particleCanvas {
    @apply absolute top-0 left-0 w-full h-full z-4 pointer-events-none;
}

.fixedSidesContainer {
    @apply relative flex w-full h-full items-center justify-between;
    /* 可根据需要设置最大宽度和居中 */
}

.bigStarContainer {
    @apply flex-shrink-0 flex-grow-0 w-1/2 h-auto pointer-events-auto z-2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(10%) translateY(10%);
}

.content {
    @apply flex-shrink-0 flex-grow-0 w-3/7 h-full flex items-center text-white text-center z-5;
    /* transform: translateX(30%); */
}