@import "tailwindcss";

.background {
    @apply relative w-full h-screen bg-black overflow-hidden z-0 flex justify-center;
}

.stars-container {
    @apply absolute inset-0 z-8;
    pointer-events: none;
}

.star {
    @apply absolute bg-white rounded-full opacity-70;
    width: 3px;
    height: 3px;
    animation: twinkle infinite;
}


.star::before,
.star::after {
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.7;
}

.star::before {
    width: 4px;
    height: 2px;
    /* 横向线条 */
    top: 50%;
    left: 0%;
    transform: translateY(-50%) translateX(-12.5%);
}

.star::after {
    width: 2px;
    height: 4px;
    /* 纵向线条 */
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-12.5%);
}


@keyframes twinkle {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.3;
    }
}

.content {
    @apply relative z-5 text-white flex items-center justify-center h-full;
}

.text-container {
    @apply text-center space-y-4;
}

.title {
    @apply text-4xl font-bold;
}

.subtitle {
    @apply text-lg opacity-80;
}


.city-container {
    @apply absolute bottom-0 w-4/5 overflow-hidden z-10;
    left: 0;
    pointer-events: none;
}

.city-bottom {
    @apply block w-full h-auto filter invert-10 sepia saturate-100 hue-rotate-180;
    transform: translateY(20%);
}

.top-stars-container {
    @apply absolute top-0 w-full flex justify-between items-center px-8 z-10;
    height: 100px;
    /* 设置顶部块的高度 */
}

.top-star {
    @apply w-8 h-8;
    /* 设置每个星星的大小 */
}

.big-star-container {
    @apply relative z-5 w-1/2 h-auto left-0 pointer-events-auto;
}

.big-star {
    @apply w-full h-auto;
    transform: translateX(-30%) translateY(10%);
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.5s ease-in, box-shadow 0.1s ease-out;
}

.big-star-hover {
    filter: drop-shadow(0 0 10px rgba(243, 243, 241, 0.8));
    /* 高亮边缘 */
}

.particle-canvas {
    @apply absolute top-0 left-0 w-full h-full z-0 pointer-events-none;
}

.particle-overlay {
    @apply absolute top-0 left-0 w-full h-full z-20 bg-transparent pointer-events-auto
}